.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .flex-center p {
      margin: 0; }
      .flex-center ul {
        text-align: center; }
        .flex-center ul li {
          margin-bottom: 1rem; }
          .flex-center ul li:last-of-type {
            margin-bottom: 0; 
}
footer.page-footer {
  bottom: 0;
  color: #fff; 
}
footer.page-footer .container-fluid {
  width: auto; 
}
footer.page-footer .footer-copyright {
  overflow: hidden;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0.2); 
}
footer.page-footer a {
  color: #fff; 
}
.mdb-color {
  background-color: #002D71 !important; 
}